[Unit]
Description=Sattuma Cards
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv/sattumacards
EnvironmentFile=/srv/sattumacards/.env
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=5
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
